@model InvoiceMaster

<div class="container">
    <form id="invoiceMasterDetails "asp-controller="InvoiceMaster" asp-action="Update">
        <input hidden asp-for="Id" />
    <div class="form-group">
          <label >Invocie Serial</label>
          <input type="text" class="form-control" id="InvoiceSerial" value="@Model.InvoiceSerial" disabled>
    </div>

    <div class="form-group">
          <label >Date</label>
          <input  class="form-control" id="Date" disabled value="@Model.Date.ToString().Replace("12:00:00 AM","")" >
    </div>



     <div class="form-group">
          <label >CustomerName</label>
          <select class="form-control"  id="CustomerId" disabled>

           <option  value="@Model.Customer.Id" selected >@Model.Customer.CustromerName</option>
        
    </select>
      
    </div>

<table class="table productList" id="updateProductTable">
        <thead class="thead-dark">
            <tr >
                <th scope="col">ProductId</th>
                <th scope="col">Product Name</th>
                <th scope="col" >Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total Price</th>
                <th scope="col" class="text-center">Operations</th>
                <th scope="col"></th>
                
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.InvoiceDetails)
            {
      <tr>
          
           <td >@item.Products.Id </td>
           <td>@item.Products.Name </td>
           <td>@item.Quantity </td>
           <td>@item.SellPrice</td>
           <td>@(@item.Quantity * @item.SellPrice)</td>
           <td class ="text-center operationTd  ">
                <a class ="btn btn-danger text-center editRow">
                <i class="fa-solid fa-pen-to-square " ></i>Edit</a>
            </td>
            <td></td>
      </tr>
            }


        </tbody>
</table>

 <button class ="btn btn-success float-end my-5 createInvoice  " type="submit" onclick="productTableTrToArray()"    >
                <i class="fa-solid fa-pen-to-square " ></i>Save Invoice</button>
</form>
</div>
 
<script src="/lib/jquery/jquery.min.js"> </script>
<script>






//$("#productTable").on("click","#editRow",function(){


    
//    var quantity = $(this).parent().parent().find(".qty").html();
//    $(this).parent().parent().find(".qty").html("<input type='text' class='form-control' name='editQty' value='"+quantity+"'>");

//    var price = $(this).parent().parent().find(".sellPrice").html(); 
//    $(this).parent().parent().find(".sellPrice").html("<input type='text' name='editPrice' class='form-control' value='"+price+"'>");
//    var saveBtn=$(this).parent().parent().find(".operationTd").html("<a class ='btn btn-success saveChanges onclick='saveEdit()'><i class='fa-solid fa-pen-to-square '></i>Save</a> ")



   
//})


//$("#productTable").on("click",".saveChanges",function(){
   
//    var quantity=$(".saveChanges").parents('tr').find("input[name='editQty']").val();
    
//    var price =$(".saveChanges").parents('tr').find("input[name='editPrice']").val();


    
//      $(".saveChanges").parents('tr').find('td:eq(2)').text(quantity);
//      $(".saveChanges").parents('tr').find('td:eq(3)').text(price);


      
//    var saveBtn=$("#editRow").parent().parent().find(".operationTd").html("<a class ='btn btn-danger text-center  ' id='editRow'  ><i class='fa-solid fa-pen-to-square ' ></i>Edit</a>");


//});


//$(".editRow").click(function(){

//    var rowIndex=$('#productTable tr').index($(this).closest('tr'));
//    alert(rowIndex)


//})

$(".editRow").on("click",function(){
    
     var rowNum = $(this).parent().parent();
    //var currentRow=$('#productTable tr').closest('tr');
    var quantity = rowNum.find("td:eq(2)").text();
    var quantity = rowNum.find("td:eq(2)").html("<input type='text' id='qty' class='form-control' value='"+quantity+"'>")

    var price = rowNum.find('td:eq(3)').text();
    var price = rowNum.find('td:eq(3)').html("<input type='text' id='price' class='form-control' value='"+price+"'>")

    rowNum.find('td:eq(5)').prepend("<a class ='btn btn-success saveInvoiceEdit' onclick='saveInvoiceEdit()'><i class='fa-solid fa-pen-to-square '></i>Save</button> ");
   
    

})


  function saveInvoiceEdit(){
      
       var rowNum = $(".saveInvoiceEdit").parent().parent();  
       rowNum.find('input').attr("readonly", "readonly");
       rowNum.find('.editRow').attr("disabled","disabled")


  }


    var arrayOfThisRow = [];
    var master=new Object();
    function productTableTrToArray(){
       
        var InvoiceSerial = $("#InvoiceSerial").val();

        var Date = $("#Date").val();    
   
        var CustomerId =$("#CustomerId").val();

        master.InvoiceSerial=InvoiceSerial;
        master.Date=Date;
        master.CustomerId=CustomerId;
       
        $("#updateProductTable tbody tr").each(function(){
            
            // values inside td
            debugger;
            var Quantity  = $(this).find('td:eq(2)').text();
       
            var Price = $(this).find('td:eq(3)').text();
          
            //var trRow = $('.editRow').parent().parent(); 
            //var quantity = trRow.find("td:eq(2)").text();
            //alert(quantity)
            //var price = trRow.find('td:eq(3)').text();

            arrayOfThisRow.push({
                
                SellPrice : Price,
                Quantity :Quantity
                
            });

        });
    }

    // Ajax call saveinvoice action to bind the data

   
    
    $(document).on("click",".createInvoice",(e)=>{
        var customerName = $("#CustomerId option:selected").text();
        console.log(JSON.stringify(master))
        //var invoice=JSON.stringify(arrayOfThisRow);
        //console.log(invoice);
        //JSON.stringify(master);
        console.log(master);
        debugger;
        $.ajax({
            url:"/InvoiceMaster/Update",
            type:"POST",
            data:JSON.stringify(master),
            contentType:"application/json; charset=utf-8",
            dataType:"json",
            success:function(){
                debugger;
                    alert("Invoice of " +  customerName  + " has been Updated Succefully!!!!");
                    setTimeout("location.replace('https://localhost:7097/')",2000);

            },
            //error:function(xhr,ajaxOptions,thrownError){
            //    alert(xhr.status);
            //    alert(thrownError);

            //},
            
            
        })


    });
    

</script>